@use '../variables' as vars;

.btn {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-decoration: unset;
    color: vars.$primary-color;
    padding-block: 1rem;
    padding-inline: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    width: fit-content;
    transition: background-color 0.6s ease;
    border-radius: 2.5rem;
    border: 1px solid vars.$primary-color;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:hover{
        color: vars.$primary-color;
        background-color: vars.$hover-color;
    }

    &:hover::before {
        top: 0;
    }

    &::after{
        content: url('../assets/images/btn-icon.png');
        width: 1.80rem;
        height: 1.25rem;
    }
}