@use 'fonts' as *;

body {
    background: rgb(16, 16, 16);
    position: relative;
    font-family: "Krona One", sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    scroll-behavior: smooth;
}