.site-footer {
    padding: 20px 0;

    &__container {
        max-width: 1440px;
        margin:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}