@use '../variables' as vars;

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: transform 0.5s;
    z-index: 999;

    &.scrolled{
        background-color: rgba(0,0,0,0.6);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem;
        width: auto;
    }

    &__left-column {
        display: flex;
        gap: 3.375rem;
        align-items: center;
    }

    &__nav {
        @media screen and (max-width: 768px){
            display: none;
        }
        & ul {
            display:flex;
            list-style: none;
            gap: 3.375rem;
            margin: auto;
            padding-inline-start: 0px;

            & li {
                &>a{
                    text-decoration: none;
                    color: vars.$primary-color;
                    font-size: 0.625rem;
                    line-height: 1.125rem;
                    font-weight: 400;
                    transition: color 0.6s;
                    position: relative;

                    &:hover {
                        color: vars.$primary-color-with-opacity;
                    }

                    &:hover::after{
                        width: 100%;
                    }

                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        width: 0;
                        height: 1px;
                        background-color: vars.$hover-color;
                        transition: width 0.5s ease;
                    }
                }
            }
        }
    }

    &__right-column {
        & .header-contact-button {
            @media screen and (max-width: 768px){
                display: none;

            }
            
            &::after{
                content: url('../assets/images/btn-icon.png');
                width: 1.80rem;
                height: 1.25rem;
            }
        }



        & .hamburger-button-open {
            display: none;
            
            @media screen and (max-width: 768px){
                cursor: pointer;
                display: flex;
                flex-direction: column;
                background: none;
                border: none;
            }

            .hamburger__line {
                width: 1.875rem;
                height: 0.125rem;
                background-color: vars.$primary-color;
                margin: 0.25rem;
            }
        }
    }
}