.homepage-slider{
    max-width: 1440px;
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 50px 0;

    @media screen and (max-width: 768px) {
        overflow: unset;
    }

    &__image{
        object-fit: contain;
        width: 100%;
        border-radius: 1.25rem;
        &--desktop{
            @media screen and (max-width: 768px){
               display: none;
            }

        }
        &--mobile{
            @media screen and (min-width: 768px){
               display: none;
            }

        }
    }

    &__pagination {
        > span{
            width: 1rem;
            height: 1rem;
            background-color: #727272;
        }

        .swiper-pagination-bullet-active{
            background-color: #9E01FF;
        }
    }
}