@use '../variables' as vars;

.our-clients{
    padding: 50px 0;

    &__heading{
        display: flex;
        align-items: center;
        gap: 3.125rem;
        position: relative;
        margin-bottom: 50px;

        @media screen and (max-width: 768px){
           flex-direction: column;
           gap: 0;
           align-items: flex-start;
        }
    }

    &__title{
        font-size: 2.75rem;
        line-height: 3.438rem;
        max-width: 434px;

        @media screen and (max-width: 768px){
            font-size: 2.5rem;
            line-height: 3.438rem;
        }
    }

    &__icon{
        @media screen and (max-width: 768px){
            width: 80px;
            height: 80px;
        }
    }

    &__clients{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 150px;
        margin-bottom: 50px;
        position: relative;

        @media screen and (max-width: 768px){
            flex-direction: column;
            text-align: center;
            gap: 15px;
        }
    }
}