.who-we-are{
    padding: 50px 0;
    
    &__section{
        position: relative;
    }

    &__title {
        font-size: 3.75rem;
        line-height: 5.25rem;
        z-index: 2;
        position: relative;
    }

    &__text{
        font-size: 1rem;
        line-height: 1.5rem;
        z-index: 2;
        position: relative;
    }

    &__image{
        position: absolute;
        top: 25px;
        right: -100px;
        z-index: 1;
    }
}